{% extends "base_app.html" %}

{% block app_content %}
        {% if form %}
            <table class="table table-hover">
               <tr>
                 <td width="300px">
                   {{ wtf.quick_form(form) }}
                 </td>
                 <td>
		 </td>
               </tr>
            </table>

         <br>
        {% endif %}
        {% for post in posts %}
           {% include '_post.html' %}
        {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}